package ${daoPackage};


import org.apache.ibatis.annotations.Mapper;
import ${basePackageName_base}.dao.BaseDao;
import ${basePackageName_base}.entity.${upClassName};


${classTitle}
@Mapper
public interface ${upClassName}Dao extends BaseDao<${upClassName}>{


}
