package ${dtoPackage};

#foreach($ims in $importSets)
${ims}
#end
import ${basePackageName_base}.entity.${upClassName};

${classTitle}
public class ${upClassName}Bean{

#foreach($field in $fields)
    ${field}
#end

	public ${upClassName}Bean() {
	}
    public ${upClassName}Bean(${upClassName} info) {
    #foreach($p in $converts)
       ${p};
    #end
	}

#foreach($method in $methods)
    ${method}
#end
}
