package ${modelPackage};

#foreach($ims in $importSets)
${ims}
#end
import java.io.Serializable;

${classTitle}
public class ${upClassName}${queryDomainSuffix} implements Serializable {
    private static final long serialVersionUID = ${SerialVersionUID}L;

#foreach($field in $fields)
    ${field}
#end
#foreach($method in $methods)
    ${method}
#end
}
