package ${formPackage};

#foreach($ims in $importSets)
${ims}
#end
import ${basePackageName_base}.entity.${upClassName};

${classTitle}
public class ${upClassName}Form{

#foreach($field in $fields)
    ${field}
#end


    public ${upClassName}  convertDO() {
        ${upClassName} info=new ${upClassName}();
    #foreach($p in $converts)
       ${p};
    #end
        return info;
	}

#foreach($method in $methods)
    ${method}
#end
}
