package ${servicePackage};


import com.github.pagehelper.PageInfo;
import ${basePackageName_base}.service.BaseService;
import ${basePackageName_base}.exception.service.ServiceExceptionHandler;
import ${basePackageName_base}.entity.${upClassName};
import ${basePackageName}.dto.form.${upClassName}Form;
import ${basePackageName}.dto.${upClassName}Bean;

${classTitle}
public interface ${upClassName}Service extends BaseService<${upClassName}, String> {

  /**
     * ${upClassName}添加
     *
     * @author ${author}
     * @date ${date}
     * @param userId
     * @param form
     */
    void insert(String userId, ${upClassName}Form form);

    /**
     * ${upClassName}修改
     *
     * @author ${author}
     * @date ${date}
     * @param id
     * @param userId
     * @param form
     */
    void update(String id,String userId, ${upClassName}Form form);


    /**
     * ${upClassName}删除
     *
     * @author ${author}
     * @date ${date}
     * @param id
     */
    void delete(String id);

    /**
     * ${upClassName}列表
     *
     * @author ${author}
     * @date ${date}
     * @param pageNum
     * @param pageSize
     * @param state
     * @param name
     */
    PageInfo<${upClassName}Bean> select${upClassName}Page(int pageNum, int pageSize, String state, String name);

    /**
     * ${upClassName}详情
     *
     * @author ${author}
     * @date ${date}
     * @param id
     */
    ${upClassName}Bean select${upClassName}Detail(String id);

}